/*head*/
body{
    margin: 0;
}
.head{
    background-color: rgba(60, 94, 62, 0.82);
}
.logo{
    padding-left: 30px;
    display: inline-block;
}
.logo img{
    height: 120px;
    padding: 10px 0 0 0;
}
.name{
    display: inline-block;
    font-size: 40px;
    font-family: 'Tilt Prism', cursive;
    position: absolute;
    top: 50px;
    left: 200px;
    color: #FCF8EC;
}
.navbarx{

    padding:0 0 10px 200px;
}
.navx-itemx{
    display: inline-block;
    width: 300px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #FCF8EC;
    border: 1px solid;
    text-align: center;
    height:40px;
}
.navbarx .navx-itemx a{
    text-decoration: none !important;
    color: inherit;
    position: relative;
    top:10px;
}


/*website content*/
.content{

    height: 1650px;
    background-color: #DEFCF9;
}
.caro{
    background-color: #DEFCF9;
    padding-top: 20px;
    padding-bottom: 50px;
    z-index: 1;
    height: 700px;
}
#b-carousal{
    width: 80%;
    position: absolute;
    left: 10%;
    z-index: 1;

}
#welcome{
    position: relative;
    z-index: 2;
    left: 30%;
    top: 40%;
    font-size: 70px;
    font-family: 'Kalam', cursive;
    color:#ffffff;
    display: inline-block;
}
.summary{
    padding: 30px 0 30px 0;
    width: 90%;
    position: relative;
    left: 5%;
    text-align: center;
    background-color: #444941;
    color: #c7c7c7;
    border: 2px solid rgba(0, 0, 0, 0.78);
    margin-bottom: 30px;
}
#visionTheme{
    font-size: 25px;
}
#visionText{

}
#vision{
    width: 85%;
    padding: 40px;
    border: 2px solid rgba(0, 0, 0, 0.78);
    margin-bottom: 30px;
    background-color: rgba(60, 94, 62, 0.82);
    position: relative;
    left: 5%;
}

#missionTheme{
    font-size: 25px;
}
#missionText{

}
#mission{
    padding: 40px;
    border: 2px solid rgba(0, 0, 0, 0.78);
    background-color: rgba(60, 94, 62, 0.82);
    margin-bottom: 30px;
    position: relative;
    left: 5%;
    width: 85%;
}

#valuesTheme{
    font-size: 25px;
}
#valuesText{
    text-align: left;
    position: relative;
    left:10%;
}
#values{
    padding: 40px;
    border: 2px solid rgba(0, 0, 0, 0.78);
    background-color: rgba(60, 94, 62, 0.82);
    margin-bottom: 30px;
    position: relative;
    left: 5%;
    width: 85%;
}


/*foot*/
.foot{
    background-color: rgba(60, 94, 62, 0.82);
    height: 240px;
    padding: 30px 100px 0px 100px;
}
#footer-logox img{
    height:150px;
    position: relative;
    bottom: 80px;
    padding-right: 50px;
}
.footer-itemx{
    display: inline-block;
    padding-left: 30px;
}
.footer-itemx ul li{
    list-style-type: none !important;
    padding:5px 0 5px 0;
    font-family: 'Roboto', sans-serif;

}
.footer-itemx ul li a{
    text-decoration: none !important;
    color: #2C3333;
}
.footer-itemx ul{
    padding-inline-start: 10px;
}
.footerDivName{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#branches{
    padding-left:200px;
}
#about{
    padding-left: 200px;
}

*,
*::before,
*::after {
  box-sizing:content-box !important;
}